name: Publish

on:
  push:
    tags: v*

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup nodejs
        uses: actions/setup-node@v1
        with:
          node-version: '12'
          registry-url: 'https://npm.pkg.github.com'
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract changelog
        uses: actions/github-script@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const path = require('path')
            const extractChanges = require(path.resolve("./.github/workflows/extract-changes.js"));
            const tagName = context.ref.substring(11);
            console.log(`Creating release for tag ${tagName}`);

            extractChanges(tagName, 'current-release-changelog.md');
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: 'current-release-changelog.md'
          files: |
            dist/release-script-standalone.js
